{% extends 'clean.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.image}}')">
	<div class = "Overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 mx-auto">
				<div class="post-heading">
					<h1>{{post.title}}</h1>
					<h2 class="subheading">Ecrit par {{post.user.email}} </h2>
					<span class="meta">{{post.createdat | ago}}
						Posted by
						<a href="#!">Start Bootstrap</a>
						on August 24, 2021
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
	 <!-- Post Content-->
	 <article class="mb-4">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto">
					<p>{{post.content | raw}}</p>
						<p>Placeholder text by
						<a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
						<a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
				</div>
			</div>
		</div>
	</article>
{% endblock %}